body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
 }
 
 header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
 }
 
 nav ul {
  list-style-type: none;
  padding: 0;
 }
 
 nav ul li {
  display: inline;
  margin-right: 10px;
 }
 
 nav ul li a {
  color: #333;
  text-decoration: none;
 }
 
 section {
  padding: 20px;
 }
 
 h1, h2 {
  color: #333;
 }
 
 h2 {
  margin-bottom: 10px;
 }
 
 ul {
  list-style-type: square;
  padding-left: 20px;
 }
 
 dl {
  padding: 20px;
 }
 
 dt {
  font-weight: bold;
  margin-bottom: 5px;
 }
 
 dd {
  margin-bottom: 15px;
 }
 
 footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
 }
 